# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit Dealtokend.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/Dealtoken/Dealtoken.conf

[Unit]
Description=Dealtoken daemon
After=network.target

[Service]
ExecStart=/usr/bin/Dealtokend -daemon -conf=/etc/Dealtoken/Dealtoken.conf -pid=/run/Dealtokend/Dealtokend.pid
# Creates /run/Dealtokend owned by Dealtoken
RuntimeDirectory=Dealtokend
User=Dealtoken
Type=forking
PIDFile=/run/Dealtokend/Dealtokend.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
